<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cravengers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A ordering system By 12 - Einstein" />
	<meta name="keywords" content="A ordering system By 12 - Einstein" />
	<meta name="author" content="" />

	

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<!-- Nav -->
	<div class="navbar_home">
        <div class="row">
            <div class="col-xs-6">
                <!-- Return home BTN -->
				<a style="color: black; text-decoration: none;" class="poppins-bold" href="homepage.html">&#x21a9; Return to Home</a>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <div>
                    <a href="#" class="btn__standard" style="margin-right: 10px">
                        <img src="{{ url_for('main.get_search_image') }}" style="width: 20px" />
                    </a>
                    <a href="index.html" class="btn__standard">
                        <img src="{{ url_for('main.get_user_image') }}" style="width: 20px" />
                    </a>
                </div>
            </div>
        </div>
	</div>
	<div class="bg-frntpage">
		<div class="container">
			<!-- Sign-in form -->
			 <div class="page-row">
				<div class="col-md-6">
					<div style="width: 450px;">
						<form action="login" method="post" class="fh5co-form animate-box" data-animate-effect="fadeIn">
							<h2 class="poppins-bold" style="text-align: center;">Log In</h2>
							{% with messages = get_flashed_messages() %}
								{% if messages %}
									{% for message in messages %}
										<p style="color: red; text-align: center; text-transform: uppercase;" class="poppins-bold">{{ message }}</p>
									{% endfor %}
								{% endif %}
							{% endwith %}
							{% block body %}{% endblock %}
							<div class="form-group">
								<label for="Account" class="sr-only poppins-regular">User Name</label>
								<input style="padding-left: 10px; border-bottom: 1px solid #800000;" type="text" class="form-control poppins-regular" id="Account" name="Account" placeholder="User Name" autocomplete="off">
							</div>
							<div class="form-group">
								<label for="password" class="sr-only poppins-regular">Password</label>
								<input style="padding-left: 10px; border-bottom: 1px solid #800000;" type="password" class="form-control poppins-regular" id="password" name="password" placeholder="Password" autocomplete="off">
							</div>
							<div class="form-group poppins-regular" style="margin-bottom: 10px;">
								<input style="width: 100%; background: #800000; color: white; padding: 10px 0px" type="submit" value="Log In" class="btn">
							</div>
							<div class="form-group poppins-regular" style="text-align: center; margin-bottom: 5px;">
								<p>Not registered? <a style="color: #800000;" href="sign-up.html">Sign Up</a> </p>
							</div>
						</form>
					</div>
				</div>

				<!-- Logo -->
				<div class="col-md-6">
					<div style="align-items: center; justify-content: center;">
						<img src="{{ url_for('main.get_logo_image') }}" style="width: 100%; max-width:370px; height: auto; padding-top: 20px;" alt="Cravengers Logo" />
					</div>
				</div>
			 </div>
			
		</div>
	</div>


	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- Placeholder -->
	<script src="{{ url_for('static', filename='js/jquery.placeholder.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Main JS -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>




</body>

</html>
<style>
	.bg-frntpage {
		background:
		linear-gradient(229deg,#AF191A 10%, #F3BD38 46%);
		min-height: 100vh;
		display: flex;
	}
	.container {
		align-items: center; 
	}
	.page-row {
		display: flex; 
		justify-content: center; 
		gap: 100px; 
		padding-top: 100px;
		margin-left: 100px;
	}
	.col-md-6 {
		display: flex;
		justify-content: center;
		align-items: center;
	}



</style>